.el-checkbox.is-bordered+.el-checkbox.is-bordered{
  margin-left:0;
}
.el-checkbox{
  margin-bottom:10px;
}
.divider-remarks{
  font-size:14px;
  color: #999;
}
textarea {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", Arial, sans-serif;
}
.form-sumbit{
  float:right;
}
.el-divider--horizontal{
  margin:40px 0;
}
